@model List<DungeonFinderWebApp.Domain.Models.Response.MesaResponse>
@{    
    ViewData["Title"] = "Mesas";     
} 
<h2>Mesas</h2>
<div class="filtros">

        <div class="row g-3">       
            <div class="col-md">
              <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                  <option selected>Todos</option>
                  <option value="1">Dungeons and Dragons</option>
                  <option value="2">Vampiro a máscara</option>
                  <option value="3">Call of Cthulhu</option>
                  <option value="4">Tormenta RPG</option>
                </select>
                <label for="floatingSelectGrid">Filtre por Sistema</label>
              </div>
            </div>
            <button class="btn btn-outline-primary" type="submit">Filtrar</button>
        </div>
 </div>

    <div class="cards" style="margin : 5%">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach(var mesa in Model)
        {
            <div class="col">
                <div class="card">
                  <img src="https://tm.ibxk.com.br/2022/04/14/14125007305279.jpg?ims=1200x675" class="card-img-top" alt="dnd">
                  <div class="card-body">
                    <h5 class="card-title">@mesa.Nome</h5>
                    <p class="card-text "><em>@mesa.Descricao</em></p>
                    <p class="card-text text-muted">@mesa.Sistema</p>
                    <p class="card-text"><i class="fa fa-users"></i> @mesa.QtdMaxJogadores</p>
                    <div class="d-grid gap-2 d-md-block">
                      <a href="@Url.Action("MesaDetails","Mesa", new{idMesa = mesa.IdMesa})" class="btn btn-primary">Ver mais</a>
                    </div>
                  </div>
                </div>
           </div>
        }
    </div>
    </div> 


      
    